<body>
<div class="container-fluid">
<div class="wholecontent">
<div class="clipart">
  <img src="\assets\Images\Reset-password_clipart.png" alt="" class="side_clipart">
</div>
<div class="content-container">
<div class="logo">
  <img src="\assets\Images\EntransLogo.png" alt="Entrans LOGO" class="Logo_clipart">
</div>
<div class="headings">
  <h3>Reset Password</h3>
  <p>Please choose your new password</p>
</div>
<div class="input-content">
  <div class="password-content">
    <label>New Password</label>
    <div class="passwordinput" ngClass="">
      <input type="{{ passwordVisible ? 'text' : 'password' }}" placeholder="Enter New Password" ngModel name ="password" #password="ngModel" [(ngModel)]="Password" (input)="onPasswordInputChange()">
      <button [disabled]="isPasswordEmpty" (click)="togglePasswordVisibility()" >
        <img src="\assets\Images\Eye.png" alt="" class="eyebtn" *ngIf="!passwordVisible">
              <img src="\assets\Images\Eye_false.png" alt="" class="eyebtn" *ngIf="passwordVisible">
      </button>
    </div>
  </div>
  <div class="password-content">
    <label>Confirm Password</label>
    <div class="passwordinput">
      <input type="{{ conformPasswordVisible ? 'text' : 'password' }}" placeholder="Confirm your Password" ngModel name="Confirm-password"
      #confirm_password="ngModel" [(ngModel)]="ConformPassword" (input)="onPasswordInputChangeForCPassword()">
      <button [disabled]=" isCPasswordEmpty" (click)=" toggleConformPasswordVisibility()">
        <img src="\assets\Images\Eye.png" alt="" class="eyebtn" *ngIf="!conformPasswordVisible">
              <img src="\assets\Images\Eye_false.png" alt="" class="eyebtn" *ngIf="conformPasswordVisible">
      </button>
    </div>
    <span *ngIf="!checkPasswordMatch()" class="error-msg">Password doesn’t match</span>
    <span *ngIf="requiredError && isPasswordEmpty" class="error-msg">Feilds are required</span>
  </div>
</div>
<div class="savepassbtn">
  <button class="btn btn-danger" (click)="savePassword()">Save New Password</button><br>
  <!-- <button (click)="showAlert()">show alert</button> -->
</div>
</div>
</div>
</div>
</body>
