$Font_Family : 'Poppins', sans-serif;
$decription_color:#939393;
$input_border:#707070;
$input_bgColor:#e8f1ef;
.container-fluid{
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  .wholecontent{
    // border: 2px solid black;
    flex-wrap: wrap;
  display: flex;
  font-family: $Font_Family;
  justify-content: center;
  align-items: center;
  gap: 70px;
  .clipart{
    .side_clipart{
      height: 595px;
      width: 530px;
    }
  }
  .content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logo{
      text-align: center;
      padding-bottom: 25px;
      .Logo_clipart{
        height: 75px;
        width: 200px;
      }
    }
    .headings{
      text-align: center;
      p{
        font-size: 13px;
        color: #939393;
        margin: 0;
      }
    }
    .input-content{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .password-content{
        display: flex;
        flex-direction: column;
        gap: 5px;
        .passwordinput{
          border: 1px solid $input_border;
        background-color: $input_bgColor;
          input[type=password],[type=text]{
            border: 0;
            outline: 0;
            background-color: transparent;
            padding-left: 10px;
            width: 260px;
            height: 50px;
            &::-ms-reveal{
              display: none;
            }
          }
          button{
            border: 0;
            background-color: transparent;
            .eyebtn{
              height: 25px;
              width: 25px;
            }
            &:disabled{
              opacity: 0.5;
            }
          }

        }
        .error-msg{
          position: relative;
          color: red;
          font-size: 13px;
          margin: 0;
        }
      }
    }
    .savepassbtn{
      padding-top: 10px;
      text-align: center;
      .btn-danger{
        border-radius: 0;
        padding: 10px 70px 10px 70px;
      }
    }
  }
}
}
