<body>
  <div class="container-fluid">
  <!-- <div class="navigation" [ngClass]="{'slide-left': !isNavOpen}"> -->
    <!-- <div class="logoimg">
      <img src="\assets\Images\EntransLogo.png" alt="" class="logo">
      <button (click)="hideNavigationBar()">X</button>
    </div> -->

    <nav >
      <ul>
          <li routerLink="/dashboard/dashboardcontent" routerLinkActive="activelist" (click)="resetUsersClicked()"><img src="\assets\Images\sidenav\Control Panel.png" alt="">&emsp;Dashboard</li>
          <li class="dropdown">
              <a (click)="isclicked()"><img src="\assets\Images\sidenav\Management.png" alt="">&emsp;Usermanagement
                <img src="\assets\Images\sidenav\Forward.png" class="arrow"*ngIf="!clicked">
                <img src="\assets\Images\sidenav\Forwarddown.png" class="arrow"*ngIf="clicked">
              </a>
              <ul class="dropdown-content " [ngClass]="{'dropdowncontentshow': clicked}">
                  <!-- <li routerLinkActive="activelist" routerLink="/users" (click)="usersClicked()"><img src="\assets\Images\sidenav\Data Quality.png" alt="">&emsp;Users</li> -->
                  <li  routerLinkActive="activelist" routerLink="/dashboard/users" ><img src="\assets\Images\sidenav\Data Quality.png" alt="">&emsp;Users</li>
                  <li routerLinkActive="activelist"><img src="\assets\Images\sidenav\Access.png" alt="">&emsp;Access Priviledge</li>
              </ul>
          </li>
          <li ><img src="\assets\Images\sidenav\Product Management.png" alt="">&emsp;Assestmanagement
             <img src="\assets\Images\sidenav\Forward.png" class="arrow"></li>
          <li><img src="\assets\Images\sidenav\Businessman.png" alt="">&emsp;Master
            <img src="\assets\Images\sidenav\Forward.png" class="arrow"></li>
          <li routerLinkActive="activelist"><img src="\assets\Images\sidenav\Request Service.png" alt="">&emsp;Service Request</li>
          <li routerLinkActive="activelist"><img src="\assets\Images\sidenav\Settings.png" alt="">&emsp;Settings</li>

        </ul>
        <button><img src="\assets\Images\sidenav\Logout.png" alt="">&emsp;Logout</button>
  </nav>
  </div>
</body>
<!-- <router-outlet></router-outlet> -->
