<div class="fluid">
  <nav>
    <div class="leftcontent">
      <img src="\assets\Images\EntransLogo.png" alt="" class="logo">
    <h2 *ngIf="!isUsermenuClicked">Hello Ryan!</h2>
    <h2 *ngIf="isUsermenuClicked">Users</h2>
    </div>
    <div class="navcontent">
      <div class="searchbar">
        <img src="\assets\Images\top_navigation\Search.png" alt=""  class="navimg">
        <input type="text" placeholder="Search">
      </div>
      <div class="notification">
        <button><img src="\assets\Images\top_navigation\notificationbell.png" alt="" class="navimg"></button>
      </div>
      <div class="profile">
        <img src="\assets\Images\top_navigation\Ellipse.png" alt="" class="profileimg">
      </div>
    </div>
  </nav>
</div>
