<body>
  <div class="container-fluid">
    <img src="\assets\Images\EntransLogo.png" alt="" class="logo">
    <nav>
      <ul>
          <li><img src="\assets\Images\sidenav\Control Panel.png" alt="">&emsp;Dashboard</li>
          <li class="dropdown">
              <a (click)="isclicked()"><img src="\assets\Images\sidenav\Management.png" alt="">&emsp;Usermanagement
                <img src="\assets\Images\sidenav\Forward.png" class="arrow"*ngIf="!clicked">
                <img src="\assets\Images\sidenav\Forwarddown.png" class="arrow"*ngIf="clicked">
              </a>
              <ul class="dropdown-content " [ngClass]="{'dropdowncontentshow': clicked}">
                  <li><img src="\assets\Images\sidenav\Create Document.png" alt="">&emsp;Master Data</li>
                  <li><img src="\assets\Images\sidenav\Access.png" alt="">&emsp;Access Priviledge</li>
              </ul>
          </li>
          <li><img src="\assets\Images\sidenav\Create Document.png" alt="">&emsp;Assestmanagement
             <img src="\assets\Images\sidenav\Forward.png" class="arrow"></li>
          <li><img src="\assets\Images\sidenav\UserIcon.png" alt="">&emsp;Master
            <img src="\assets\Images\sidenav\Forward.png" class="arrow"></li>
          <li><img src="\assets\Images\sidenav\Request Service.png" alt="">&emsp;Service Request</li>
          <li><img src="\assets\Images\sidenav\Settings.png" alt="">&emsp;Settings</li>

        </ul>
        <button><img src="\assets\Images\sidenav\Logout.png" alt="">&emsp;Logout</button>
  </nav>
  </div>

</body>
