// ul.dropdown-content{
//   display: none;
//   cursor: pointer;
//   // position: absolute;
//   &.dropdowncontentshow{
//     display: block;
//   }
// }
$white_color:#FFFFFF;
$red_color:#EA454B;
$Font_Family : 'Poppins', sans-serif;
$light_Grey:#f5f5f5;
body{
  background-color: $light_Grey;
  // border: 3px solid red;
  // width: fit-content;
  // .slide-left {
  //   transform: translateX(-200%);
  //   transition: transform 0.1s ease;
  //   opacity: 0;
  // }
.container-fluid{
  // border: 2px solid black;
  height: 670px;
  width: 280px;
  // position: relative;
  // top: 0;
  left: 0px;
  // border: 1px solid red;
  font-family: $Font_Family;
  background-color: $white_color;
  transition:  2s;
  padding: 0px 0px 0px 20px;
  .logoimg{
    padding: 10px 10px 10px 10px;
    border-bottom: 7px solid $light_Grey;
    display: flex;
    justify-content: space-between;

    .logo{
      height: 50px;
    }
    button{
      background-color: transparent;
      color: #EA454B;
      border: 0;

    }
  }

  nav{
    font-size: 12px;
  // border: 2px solid green;
  height: 100%;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  padding: 10px 0px 20px 0px;
  // padding-right: 0px;
  ul{
    // border: 1px solid red;
    padding-top: 20px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    // padding: 10px;
    .activelist{
      border-right: 7px solid $red_color;
      border-top: 0;
      border-bottom: 0;
    }
    li{
      // border: 1px solid grey;
      cursor: pointer;
      // padding: 10px 0px 10px 0px;
      text-decoration: none;
          color: black;
          display: block;
          transition: 0.3s;
          .arrow{
            float: right;
            padding-right: 10px;
          }
          .dropdown-content{
            display: none;
//          cursor: pointer;
            // padding-left: 50px;
            padding-top: 5px;
            li{
              padding-top: 10px;
              padding-left: 50px;
            }
&.dropdowncontentshow{
       display: block;
     }
          }
    }
  }
  button{
    align-self: flex-start;
    background-color: transparent;
    border: 0;
  }
}
}
}
