<div class="container-fluid">
  <div class="bank-details">
    <div class="leftcontent">
      <div class="input-feilds">
        <label>Account Name</label>
        <input type="text">
      </div>
      <div class="input-feilds">
        <label>Bank Name</label>
        <input type="text">
      </div>
      <div class="input-feilds">
        <label>IFSC Code</label>
        <input type="text">
      </div>
    </div>
    <div class="rightcontent">
      <div class="input-feilds">
        <label>Account Number</label>
        <input type="text">
      </div>
      <div class="input-feilds">
        <label>Branch Name</label>
        <input type="text">
      </div>
      <div class="input-feilds">
        <label>Do you have Multi-Wallet card?</label>
        <select>
          <option value="select">select</option>
        </select>
      </div>
    </div>
  </div>
</div>
