<!-- <app-admin-login></app-admin-login> -->
<!-- <div class="navigationbars" *ngIf="loginsuccesfull">
  <app-top-navbar></app-top-navbar>
<app-side-navigation></app-side-navigation>
</div> -->
<!-- <app-top-navbar></app-top-navbar>
<app-side-navigation></app-side-navigation> -->
<!-- <div class="navigationbars">
  <app-top-navbar  *ngIf="loginsuccesfull"></app-top-navbar>
<div class="body-content"><app-side-navigation  *ngIf="loginsuccesfull"></app-side-navigation><router-outlet></router-outlet></div>
</div> -->
<router-outlet></router-outlet>

