<div class="container-fluid">
  <form  class="Contact">
    <div class="ContactContent">
      <div class="leftcontent">
        <div class="input-fields">
          <label>Mobile Number</label>
          <input type="tel">
        </div>
        <div class="input-fields">
          <label>Personal Mail ID</label>
          <input type="email">
        </div>
        <div class="input-fields-address">
          <label>Permanent Address</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>State</label>
          <select>
            <option value="select">Select</option>
          </select>
        </div>
        <div class="input-fields">
          <label>District</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>City</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>Pincode</label>
          <input type="number">
        </div>
      </div>


      <div class="rightcontent">
        <div class="input-fields">
        <label>Alternate Mobile Number</label>
        <input type="tel">
      </div>
      <div class="input-fields">
        <label>Official Mail ID</label>
        <input type="email">
      </div>
      <div class="input-fields-address">
        <label>Residential  Address</label>
        <input type="text">
      </div>
      <div class="input-fields">
        <label>State</label>
        <select>
          <option value="select">Select</option>
        </select>
      </div>
      <div class="input-fields">
        <label>District</label>
        <input type="text">
      </div>
      <div class="input-fields">
        <label>City</label>
        <input type="text">
      </div>
      <div class="input-fields">
        <label>Pincode</label>
        <input type="number">
      </div>
      <div class="sameas">
        <input type="checkbox">
        <label>Same as Permanent Address</label>
      </div>
    </div>
    </div>
    <h5>Emergency Contact Details</h5>
    <div class="EmergencyContactDetails">
      <div class="leftcontent">
        <div class="input-fields">
          <label>Contact Name</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>Contact Number</label>
          <input type="tel">
        </div>
      </div>
      <div class="rightcontent">
        <div class="input-fields">
          <label>Contact Relation</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>Contact Location</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-danger">
        <div class="btn-content"> <img src="\assets\Images\addUser\Back.png" alt="">Back</div>
        </button>
      <button class="btn btn-danger">
        <div class="btn-content">Save and Next<img src="\assets\Images\addUser\forwardArrow.png" alt=""></div>
      </button>
    </div>
  </form>
</div>
