<body>
<div class="container-fluid">
  <div class="whole-content">
    <div class="clipart">
      <img src="\assets\Images\forgot-password_clipart.png" alt="" class="clipart">
    </div>
    <div class="content">
      <div class="logo-content">
        <img src="\assets\Images\EntransLogo.png" alt="" class="logo">
      </div>
      <div class="headings">
        <h3>Forgot Password?</h3>
        <p>Please enter your email address and we will send a link to reset your password.</p>
      </div>
      <div class="result-content">
        <div class="inputbox-error">
          <div class="input-content">
            <input type="email" placeholder="Email Address" [(ngModel)]="Email" required ngModel name="email" #UEmail="ngModel" (input)="isInput()">

          </div>
          <span class="error-msg" *ngIf="UEmail.touched && UEmail.hasError('required') || isEmpty">Email is Required</span>
          <span class="error-msg" *ngIf="isRegisteredEmail==false ">Please enter the registered email id.</span>
        </div>

        <div class="btn-resetlink">
          <button class="btn btn-danger" (click)="onSubmit()">Send Reset Link</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
