$Font_Family : 'Poppins', sans-serif;
$Content_paragraph :#939393;
$Input_border_color :#707070;
$Input_BgColor:#e8f1ef;
.container-fluid{
  font-family: $Font_Family;
  .whole-content{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .clipart{
      height: 702px;
      width: 633px;
    }
    .content{
      width: fit-content;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px 20px 20px 20px;
      .logo-content{
        padding-bottom: 30px;
      .logo{
        height: 80px;
        width: 200px;
      }
    }
      .headings{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        p{
          color: $Content_paragraph;
          text-align: center;
          font-size: 13px;
          width: 320px;
        }
      }
      .result-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .inputbox-error{
        .input-content{
          border: 1px solid $Input_border_color;
          background-color: $Input_BgColor;
          input[type=email]{
            background-color: transparent;
            padding-left: 10px;
            border: none;
            width: 320px;
            height: 50px;
            outline: none;
          }

        }
        .error-msg{
          color: red;
          font-size: 12px;
          position: absolute;
        }
        }
        .btn-resetlink{
          .btn-danger{
            padding: 10px 100px 10px 100px;
            border-radius: 0;
          }
        }
      }
      .aftermailsent{
        text-align: center;
        h3{
          font-size: 30px;
          color: green;
        }
        p{
          color: blue;
          width: 400px;
        }
      }
    }
  }
}
