<!-- <p>add-user-navigation works!</p> -->
<nav class="container-fluid">
<ul>
  <li routerLinkActive="active" routerLink="/dashboard/addUser/personalDetails">Personal</li>
  <li routerLinkActive="active" routerLink="/dashboard/addUser/professionalDetails">Professional</li>
  <li routerLinkActive="active" routerLink="/dashboard/addUser/contactDetails">Contact</li>
  <li routerLinkActive="active" routerLink="/dashboard/addUser/bankDetails">Bank </li>
  <li routerLinkActive="active">Education  </li>
  <li routerLinkActive="active">Family  </li>
  <li routerLinkActive="active">Documents </li>
</ul>
</nav>
