<div class="container-fluid">
  <form action="">
    <div class="formcontent">
      <div class="left-content">
        <div class="input-fields">
          <label>First Name</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>Last Name</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>Religion</label>
          <select>
            <option value="select">select</option>
            <option value="Hindu">Hindu</option>
          </select>
        </div>
        <div class="input-fields">
          <label>Date of Birth</label>
          <input type="date">
        </div>
        <div class="input-fields">
          <label>Blood Group</label>
          <select>
            <option value="select">select</option>
            <option value="b+">B+</option>
          </select>
        </div>
      </div>
      <div class="right-content">
        <div class="input-fields">
          <label>Nationality</label>
          <input type="text">
        </div>
        <div class="input-fields">
          <label>Aadhar Number</label>
          <input type="number">
        </div>
        <div class="input-fields">
          <label>Pan Number</label>
          <input type="number">
        </div>
        <div class="input-fields">
          <label>Gender</label>
          <select>
            <option value="select">select</option>
            <option value="male">Male</option>
          </select>
        </div>
        <div class="input-fields">
          <label>Marital Status</label>
          <select>
            <option value="select">select</option>
            <option value="male">Male</option>
          </select>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-danger">
        <div class="btn-content"> <img src="\assets\Images\addUser\Back.png" alt="">Back</div>
        </button>
      <button class="btn btn-danger">
        <div class="btn-content">Save and Next<img src="\assets\Images\addUser\forwardArrow.png" alt=""></div>
      </button>
    </div>
  </form>
</div>
