<!-- <body>
  <nav *ngIf="ismenuclicked" ><app-side-navigation></app-side-navigation></nav>

  <div class="container-fluid">
    <nav>
      <div class="leftcontent">
        <img src="\assets\Images\Dashboard\menubutton.png" alt="" class="menuicon" (click)="isMenuClicked()">
      <h2>Users</h2>
      </div>
      <div class="navcontent">
        <div class="searchbar">
          <img src="\assets\Images\Dashboard\Search.png" alt=""  class="navimg">
          <input type="search" placeholder="Search">
        </div>
        <div class="notification">
          <button><img src="\assets\Images\Dashboard\notificationbell.png" alt="" class="navimg"></button>
        </div>
        <div class="profile">
          <img src="\assets\Images\Dashboard\Ellipse.png" alt="" class="profileimg">
        </div>
      </div>
    </nav>
    <div class="content">
    <div class="option-content">
      <div class="search-filter">
        <div class="searchbar">
          <img src="\assets\Images\top_navigation\Search.png" alt=""  class="navimg">
          <input type="search" placeholder="Search">
        </div>
        <button><img src="\assets\Images\Users\Filter.png" alt="" class="filter"></button>
      </div>
      <div class="dataoptions">
        <button><img src="\assets\Images\Users\Export.png" alt=""></button>
        <button><img src="\assets\Images\Users\Import.png" alt=""></button>
        <button><img src="\assets\Images\Users\Add user.png" alt=""></button>
      </div>
    </div>
  </div>
  </div>

</body> -->
<div class="fluid">
  <!-- <app-top-navbar></app-top-navbar> -->
  <div class="lower-content">
    <!-- <app-side-navigation></app-side-navigation> -->
<div class="body">
  <div class="content">
    <div class="option-content">
      <div class="search-filter">
        <div class="searchbar">
          <img src="\assets\Images\top_navigation\Search.png" alt=""  class="navimg">
          <input type="search" placeholder="Search">
        </div>
        <button><img src="\assets\Images\Users\Filter.png" alt="" class="filter"></button>
      </div>
      <div class="dataoptions">
        <button><img src="\assets\Images\Users\Export.png" alt=""></button>
        <button><img src="\assets\Images\Users\Import.png" alt=""></button>
        <button routerLink="/dashboard/addUser"><img src="\assets\Images\Users\Add user.png" alt=""></button>
      </div>
    </div>
    <div class="table">
      <table>
        <tr>
          <th><div class="th-content">
            Employee  ID <img src="\assets\Images\Users\Sorting arrowheads.png" alt="">
          </div></th>
          <th> <div class="th-content">
            Employee Name <img src="\assets\Images\Users\Sorting arrowheads.png" alt="">
          </div></th>
          <th> <div class="th-content">
            Designation <img src="\assets\Images\Users\Sorting arrowheads.png" alt="">
          </div></th>
          <th>Mail Id </th>
          <th>Mobile  No </th>
          <th>Emg Contact No </th>
          <th><div class="th-content">
            Location <img src="\assets\Images\Users\Sorting arrowheads.png" alt="">
          </div></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
  </div>

</div>
